# 3.1 Data consistency checks & cleaning

### This script contains the following points:

### 1. Import libraries and files
### 2. Inspect descriptive statistics
#### 2.1 Merged Data
#### 2.2 Supplemental County Data
### 3. Rename columns for clarity
#### 3.1 Merged Data
#### 3.2 Supplemental County Data
### 4. Check for missing values
#### 4.1 Merged Data
#### 4.2 Supplemental County Data
### 5. Check data types
#### 5.1 Merged Data
#### 5.2 Supplemental County Data
### 6. Check for duplicates
#### 6.1 Merged Data
#### 6.2 Supplemental County Data
### 7. Export cleaned datasets

### 1. Import libraries and files

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Turn project folder path into a string
path = r'C:\Users\dsadl\OneDrive\Documents\Career Foundry\Data Immersion\Project 6\Food Environment Analysis'

In [4]:
# Import csv files merged_data and supplemental_county_data
df_merged = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','merged_data.csv'), index_col= False)
df_supp = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','supplemental_county_data.csv'), index_col= False)

In [5]:
# Examine data sets
df_merged.head()

<bound method NDFrame.head of        FIPS State      County  LACCESS_POP15  PCT_LACCESS_POP15  \
0      1001    AL     Autauga   17496.693040          32.062255
1      1003    AL     Baldwin   30561.264430          16.767489
2      1005    AL     Barbour    6069.523628          22.105560
3      1007    AL        Bibb     969.378841           4.230324
4      1009    AL      Blount    3724.428242           6.497380
...     ...   ...         ...            ...                ...
3138  56037    WY  Sweetwater   18934.737810          43.224074
3139  56039    WY       Teton    6212.390430          29.174370
3140  56041    WY       Uinta    4686.017653          22.189685
3141  56043    WY    Washakie     931.411647          10.915407
3142  56045    WY      Weston    1237.267037          17.165192

      LACCESS_LOWI15  PCT_LACCESS_LOWI15  LACCESS_SNAP15  PCT_LACCESS_SNAP15  \
0        6543.676824           11.991125      931.935186            4.608749
1        9886.831137            5.424427      950.535290            1.298900
2        2948.790251           10.739667      422.569040            4.303147
3         596.162829            2.601627       53.818772            0.676710
4        1650.959482            2.880150      175.370338            0.812727
...              ...                 ...             ...                 ...
3138     4750.905615           10.845331      352.866113            2.141828
3139     1577.771012            7.409463       60.192270            0.670815
3140     2054.179828            9.727151      158.918171            2.072485
3141      309.030331            3.621591       36.804973            1.053980
3142      302.697580            4.199467       29.336258            0.971078

      LACCESS_CHILD15  ...  PCT_LACCESS_NHPI15  LACCESS_MULTIR15  \
0         4616.971480  ...            0.016159        482.848633
1         7007.972675  ...            0.008131       1127.696098
2         1031.927776  ...            0.029436        462.382655
3          232.642670  ...            0.000000          5.259244
4          910.686113  ...            0.001854        202.914186
...               ...  ...                 ...               ...
3138      4852.757500  ...            0.063280       1605.391465
3139      1096.186959  ...            0.039771        460.434464
3140      1439.223015  ...            0.031187        350.320469
3141       184.506884  ...            0.000000         34.160542
3142       252.611605  ...            0.007044         24.811192

      PCT_LACCESS_MULTIR15  PCT_SNAP17  SNAP_PART_RATE16  \
0                 0.884808   16.500056            86.898
1                 0.618712   16.500056            86.898
2                 1.684025   16.500056            86.898
3                 0.022951   16.500056            86.898
4                 0.353990   16.500056            86.898
...                    ...         ...               ...
3138              3.664775    5.668505            56.037
3139              2.162273    5.668505            56.037
3140              1.658871    5.668505            56.037
3141              0.400334    5.668505            56.037
3142              0.344217    5.668505            56.037

      PCT_DIABETES_ADULTS13  PCT_OBESE_ADULTS17  FOODINSEC_15_17  \
0                      13.0                36.3             16.3
1                      10.4                36.3             16.3
2                      18.4                36.3             16.3
3                      14.8                36.3             16.3
4                      14.1                36.3             16.3
...                     ...                 ...              ...
3138                    8.1                28.8             13.2
3139                    4.8                28.8             13.2
3140                    9.0                28.8             13.2
3141                   12.0                28.8             13.2
3142                   10.0                28.8             13.2

      VLFOODSEC_15_17  MEDHHINC15
0                 7.1     56580.0
1                 7.1     52387.0
2                 7.1     31433.0
3                 7.1     40767.0
4                 7.1     50487.0
...               ...         ...
3138              5.1     71867.0
3139              5.1     83290.0
3140              5.1     62968.0
3141              5.1     56088.0
3142              5.1     60986.0

[3143 rows x 34 columns]>

In [6]:
df_supp.head()

<bound method NDFrame.head of        FIPS             County     State Population_Estimate_2013  \
0      1001     Autauga County   Alabama                   54,713
1      1003     Baldwin County   Alabama                  194,886
2      1005     Barbour County   Alabama                   26,944
3      1007        Bibb County   Alabama                   22,516
4      1009      Blount County   Alabama                   57,611
...     ...                ...       ...                      ...
3137  56037  Sweetwater County   Wyoming                   45,162
3138  56039       Teton County   Wyoming                   22,318
3139  56041       Uinta County   Wyoming                   20,953
3140  56043    Washakie County   Wyoming                    8,414
3141  56045      Weston County   Wyoming                    7,137

     Population_Estimate_2014 Population_Estimate_2015  \
0                      54,876                   54,838
1                     199,189                  202,995
2                      26,758                   26,294
3                      22,541                   22,562
4                      57,521                   57,522
...                       ...                      ...
3137                   44,957                   44,754
3138                   22,777                   23,016
3139                   20,827                   20,770
3140                    8,275                    8,280
3141                    7,138                    7,197

     Population_Estimate_2016 Population_Estimate_2017  \
0                      55,242                   55,443
1                     207,712                  212,619
2                      25,819                   25,158
3                      22,576                   22,555
4                      57,517                   57,827
...                       ...                      ...
3137                   44,275                   43,547
3138                   23,161                   23,261
3139                   20,691                   20,456
3140                    8,168                    8,035
3141                    7,213                    6,986

     Population_Estimate_2018
0                      55,601
1                     218,022
2                      24,881
3                      22,400
4                      57,840
...                       ...
3137                   43,051
3138                   23,081
3139                   20,299
3140                    7,885
3141                    6,967

[3142 rows x 9 columns]>

### 2. Inspect descriptive statistics

#### 2.1 Merged Data

In [7]:
# Show descriptive statistics
df_merged.describe()

,FIPS,LACCESS_POP15,PCT_LACCESS_POP15,LACCESS_LOWI15,PCT_LACCESS_LOWI15,LACCESS_SNAP15,PCT_LACCESS_SNAP15,LACCESS_CHILD15,PCT_LACCESS_CHILD15,LACCESS_SENIORS15,...,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15,PCT_SNAP17,SNAP_PART_RATE16,PCT_DIABETES_ADULTS13,PCT_OBESE_ADULTS17,FOODINSEC_15_17,VLFOODSEC_15_17,MEDHHINC15
count,3143.000000,3124.000000,3124.000000,3123.000000,3123.000000,3123.000000,3123.000000,3124.000000,3124.000000,3124.000000,...,3124.000000,3124.000000,3124.000000,3143.000000,3143.000000,3142.000000,3143.000000,3143.000000,3143.000000,3139.000000
mean,30390.411709,19287.747386,23.084470,5833.959524,8.651256,804.471927,2.917896,4742.980900,5.408435,2570.415541,...,0.019207,1290.799156,1.154542,12.891473,84.001372,11.236123,31.862965,12.833726,5.098027,48611.206117
std,15164.717720,47803.525595,19.602745,13989.348252,8.368703,1870.844498,3.160642,12216.611681,4.817501,6184.202345,...,0.134887,5414.425184,1.864479,3.170320,9.223259,2.485537,3.329267,2.194020,1.055067,12351.988288
min,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5.668505,56.037000,3.300000,22.600000,7.400000,2.900000,22894.000000
25%,18178.000000,1631.358726,10.927326,608.235919,3.625438,68.476725,1.132022,354.654348,2.410256,273.978490,...,0.000000,33.382261,0.221558,10.400643,76.151000,9.500000,30.100000,11.200000,4.100000,40438.000000
50%,29177.000000,4131.174278,19.200682,1636.858816,6.508531,218.176102,2.128783,956.123349,4.398577,662.445677,...,0.003242,132.098182,0.572597,13.290553,84.002000,11.100000,32.400000,13.000000,5.100000,46807.000000
75%,45082.000000,13119.029393,28.862231,4859.016156,10.679796,687.003195,3.668171,3020.174780,6.872020,1846.511461,...,0.013054,658.924526,1.318699,14.702413,90.379000,12.900000,33.800000,14.000000,5.800000,54164.000000
max,56045.000000,740267.412700,100.000001,259479.516000,71.844209,29461.297950,37.254488,219002.492900,39.135316,86014.561480,...,4.469546,115781.021500,27.120652,22.055479,100.000000,23.500000,38.100000,17.900000,7.100000,125900.000000

#### 2.2 Supplemental Data

In [8]:
df_supp.describe()

               FIPS
count   3142.000000
mean   30383.649268
std    15162.508374
min     1001.000000
25%    18177.500000
50%    29176.000000
75%    45080.500000
max    56045.000000

### 3. Rename columns for clarity

#### 3.1 Merged Data

In [9]:
# Renaming columns in df_merged
df_merged.rename(columns = {'LACCESS_POP15' : 'laccess'}, inplace = True)

In [10]:
df_merged.rename(columns = {'PCT_LACCESS_POP15' : 'pct_laccess'}, inplace = True)

In [11]:
df_merged.rename(columns = {'LACCESS_LOWI15' : 'lowinc_laccess'}, inplace = True)

In [12]:
df_merged.rename(columns = {'PCT_LACCESS_LOWI15' : 'pct_lowinc_laccess'}, inplace = True)

In [13]:
df_merged.rename(columns = {'LACCESS_SNAP15' : 'snap_laccess'}, inplace = True)

In [14]:
df_merged.rename(columns = {'PCT_LACCESS_SNAP15' : 'pct_snap_laccess'}, inplace = True)

In [15]:
df_merged.rename(columns = {'LACCESS_CHILD15' : 'child_laccess'}, inplace = True)

In [16]:
df_merged.rename(columns = {'PCT_LACCESS_CHILD15' : 'pct_child_laccess'}, inplace = True)

In [17]:
df_merged.rename(columns = {'LACCESS_SENIORS15' : 'senior_laccess'}, inplace = True)

In [18]:
df_merged.rename(columns = {'PCT_LACCESS_SENIORS15' : 'pct_senior_laccess'}, inplace = True)

In [19]:
df_merged.rename(columns = {'LACCESS_WHITE15' : 'white_laccess'}, inplace = True)

In [20]:
df_merged.rename(columns = {'PCT_LACCESS_WHITE15' : 'pct_white_laccess'}, inplace = True)

In [21]:
df_merged.rename(columns = {'LACCESS_BLACK15' : 'black_laccess'}, inplace = True)

In [22]:
df_merged.rename(columns = {'PCT_LACCESS_BLACK15' : 'pct_black_laccess'}, inplace = True)

In [23]:
df_merged.rename(columns = {'LACCESS_HISP15' : 'hisp_laccess'}, inplace = True)

In [24]:
df_merged.rename(columns = {'PCT_LACCESS_HISP15' : 'pct_hisp_laccess'}, inplace = True)

In [25]:
df_merged.rename(columns = {'LACCESS_NHASIAN15' : 'asian_laccess'}, inplace = True)

In [26]:
df_merged.rename(columns = {'PCT_LACCESS_NHASIAN15' : 'pct_asian_laccess'}, inplace = True)

In [27]:
df_merged.rename(columns = {'LACCESS_NHNA15' : 'natamer_laccess'}, inplace = True)

In [28]:
df_merged.rename(columns = {'PCT_LACCESS_NHNA15' : 'pct_natamer_laccess'}, inplace = True)

In [29]:
df_merged.rename(columns = {'LACCESS_NHPI15' : 'pacific_laccess'}, inplace = True)

In [30]:
df_merged.rename(columns = {'PCT_LACCESS_NHPI15' : 'pct_pacific_laccess'}, inplace = True)

In [31]:
df_merged.rename(columns = {'LACCESS_MULTIR15' : 'multi_laccess'}, inplace = True)

In [32]:
df_merged.rename(columns = {'PCT_LACCESS_MULTIR15' : 'pct_multi_laccess'}, inplace = True)

In [33]:
df_merged.rename(columns = {'PCT_SNAP17' : 'pct_snap'}, inplace = True)

In [34]:
df_merged.rename(columns = {'SNAP_PART_RATE16' : 'pct_snap_participation'}, inplace = True)

In [35]:
df_merged.rename(columns = {'PCT_DIABETES_ADULTS13' : 'pct_adult_diabetes'}, inplace = True)

In [36]:
df_merged.rename(columns = {'PCT_OBESE_ADULTS17' : 'pct_adult_obese'}, inplace = True)

In [37]:
df_merged.rename(columns = {'FOODINSEC_15_17' : 'pct_food_insec'}, inplace = True)

In [38]:
df_merged.rename(columns = {'VLFOODSEC_15_17' : 'pct_vlow_foodsecure'}, inplace = True)

In [39]:
df_merged.rename(columns = {'MEDHHINC15' : 'med_income'}, inplace = True)

In [40]:
df_merged.head()

<bound method NDFrame.head of        FIPS State      County       laccess  pct_laccess  lowinc_laccess  \
0      1001    AL     Autauga  17496.693040    32.062255     6543.676824
1      1003    AL     Baldwin  30561.264430    16.767489     9886.831137
2      1005    AL     Barbour   6069.523628    22.105560     2948.790251
3      1007    AL        Bibb    969.378841     4.230324      596.162829
4      1009    AL      Blount   3724.428242     6.497380     1650.959482
...     ...   ...         ...           ...          ...             ...
3138  56037    WY  Sweetwater  18934.737810    43.224074     4750.905615
3139  56039    WY       Teton   6212.390430    29.174370     1577.771012
3140  56041    WY       Uinta   4686.017653    22.189685     2054.179828
3141  56043    WY    Washakie    931.411647    10.915407      309.030331
3142  56045    WY      Weston   1237.267037    17.165192      302.697580

      pct_lowinc_laccess  snap_laccess  pct_snap_laccess  child_laccess  ...  \
0              11.991125    931.935186          4.608749    4616.971480  ...
1               5.424427    950.535290          1.298900    7007.972675  ...
2              10.739667    422.569040          4.303147    1031.927776  ...
3               2.601627     53.818772          0.676710     232.642670  ...
4               2.880150    175.370338          0.812727     910.686113  ...
...                  ...           ...               ...            ...  ...
3138           10.845331    352.866113          2.141828    4852.757500  ...
3139            7.409463     60.192270          0.670815    1096.186959  ...
3140            9.727151    158.918171          2.072485    1439.223015  ...
3141            3.621591     36.804973          1.053980     184.506884  ...
3142            4.199467     29.336258          0.971078     252.611605  ...

      pct_pacific_laccess  multi_laccess  pct_multi_laccess   pct_snap  \
0                0.016159     482.848633           0.884808  16.500056
1                0.008131    1127.696098           0.618712  16.500056
2                0.029436     462.382655           1.684025  16.500056
3                0.000000       5.259244           0.022951  16.500056
4                0.001854     202.914186           0.353990  16.500056
...                   ...            ...                ...        ...
3138             0.063280    1605.391465           3.664775   5.668505
3139             0.039771     460.434464           2.162273   5.668505
3140             0.031187     350.320469           1.658871   5.668505
3141             0.000000      34.160542           0.400334   5.668505
3142             0.007044      24.811192           0.344217   5.668505

      pct_snap_participation  pct_adult_diabetes  pct_adult_obese  \
0                     86.898                13.0             36.3
1                     86.898                10.4             36.3
2                     86.898                18.4             36.3
3                     86.898                14.8             36.3
4                     86.898                14.1             36.3
...                      ...                 ...              ...
3138                  56.037                 8.1             28.8
3139                  56.037                 4.8             28.8
3140                  56.037                 9.0             28.8
3141                  56.037                12.0             28.8
3142                  56.037                10.0             28.8

      pct_food_insec  pct_vlow_foodsecure  med_income
0               16.3                  7.1     56580.0
1               16.3                  7.1     52387.0
2               16.3                  7.1     31433.0
3               16.3                  7.1     40767.0
4               16.3                  7.1     50487.0
...              ...                  ...         ...
3138            13.2                  5.1     71867.0
3139            13.2                  5.1     83290.0
3140            13.2                  5.1     62968.0
3141            13.2                  5.1     56088.0
3142            13.2                  5.1     60986.0

[3143 rows x 34 columns]>

#### 3.2 Supplemental Data

In [41]:
# Renaming columns in df_supp data
df_supp.rename(columns = {'Population_Estimate_2013' : 'pop_13'}, inplace = True)

In [42]:
df_supp.rename(columns = {'Population_Estimate_2014' : 'pop_14'}, inplace = True)

In [43]:
df_supp.rename(columns = {'Population_Estimate_2015' : 'pop_15'}, inplace = True)

In [44]:
df_supp.rename(columns = {'Population_Estimate_2017' : 'pop_16'}, inplace = True)

In [45]:
df_supp.rename(columns = {'Population_Estimate_2016' : 'pop_17'}, inplace = True)

In [46]:
df_supp.rename(columns = {'Population_Estimate_2018' : 'pop_18'}, inplace = True)

In [47]:
df_supp.head

<bound method NDFrame.head of        FIPS             County     State   pop_13   pop_14   pop_15   pop_17  \
0      1001     Autauga County   Alabama   54,713   54,876   54,838   55,242
1      1003     Baldwin County   Alabama  194,886  199,189  202,995  207,712
2      1005     Barbour County   Alabama   26,944   26,758   26,294   25,819
3      1007        Bibb County   Alabama   22,516   22,541   22,562   22,576
4      1009      Blount County   Alabama   57,611   57,521   57,522   57,517
...     ...                ...       ...      ...      ...      ...      ...
3137  56037  Sweetwater County   Wyoming   45,162   44,957   44,754   44,275
3138  56039       Teton County   Wyoming   22,318   22,777   23,016   23,161
3139  56041       Uinta County   Wyoming   20,953   20,827   20,770   20,691
3140  56043    Washakie County   Wyoming    8,414    8,275    8,280    8,168
3141  56045      Weston County   Wyoming    7,137    7,138    7,197    7,213

       pop_16   pop_18
0      55,443   55,601
1     212,619  218,022
2      25,158   24,881
3      22,555   22,400
4      57,827   57,840
...       ...      ...
3137   43,547   43,051
3138   23,261   23,081
3139   20,456   20,299
3140    8,035    7,885
3141    6,986    6,967

[3142 rows x 9 columns]>

### 4. Check for missing values

#### 4.1 Merged Data

In [48]:
# Check for missing values
df_merged.isnull().sum()

FIPS                       0
State                      0
County                     0
laccess                   19
pct_laccess               19
lowinc_laccess            20
pct_lowinc_laccess        20
snap_laccess              20
pct_snap_laccess          20
child_laccess             19
pct_child_laccess         19
senior_laccess            19
pct_senior_laccess        19
white_laccess             19
pct_white_laccess         19
black_laccess             19
pct_black_laccess         19
hisp_laccess              19
pct_hisp_laccess          19
asian_laccess             19
pct_asian_laccess         19
natamer_laccess           19
pct_natamer_laccess       19
pacific_laccess           19
pct_pacific_laccess       19
multi_laccess             19
pct_multi_laccess         19
pct_snap                   0
pct_snap_participation     0
pct_adult_diabetes         1
pct_adult_obese            0
pct_food_insec             0
pct_vlow_foodsecure        0
med_income                 4
dtype: int64

In [49]:
# Create a subset of null values
df_nan = df_merged[df_merged['lowinc_laccess'].isnull() == True]

In [50]:
# show all columns 
pd.options.display.max_columns = None

In [51]:
df_nan

,FIPS,State,County,laccess,pct_laccess,lowinc_laccess,pct_lowinc_laccess,snap_laccess,pct_snap_laccess,child_laccess,pct_child_laccess,senior_laccess,pct_senior_laccess,white_laccess,pct_white_laccess,black_laccess,pct_black_laccess,hisp_laccess,pct_hisp_laccess,asian_laccess,pct_asian_laccess,natamer_laccess,pct_natamer_laccess,pacific_laccess,pct_pacific_laccess,multi_laccess,pct_multi_laccess,pct_snap,pct_snap_participation,pct_adult_diabetes,pct_adult_obese,pct_food_insec,pct_vlow_foodsecure,med_income
540,13311,GA,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.584962,86.385,12.6,31.6,13.0,4.4,43598.0
612,17035,IL,Cumberland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.673611,100.000,11.1,31.1,11.0,4.0,51505.0
754,18115,IN,Ohio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.079556,79.700,12.4,33.6,11.2,4.7,53177.0
777,18161,IN,Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.079556,79.700,12.8,33.6,11.2,4.7,45050.0
1031,21077,KY,Gallatin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.702413,76.151,12.6,34.3,14.7,6.1,47679.0
1059,21133,KY,Letcher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.702413,76.151,17.5,34.3,14.7,6.1,31079.0
1100,21215,KY,Spencer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.702413,76.151,12.3,34.3,14.7,6.1,68147.0
1240,26019,MI,Benzie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.806377,99.604,12.6,32.3,13.6,6.0,48127.0
1416,28031,MS,Covington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.007769,82.678,16.3,37.3,12.8,4.8,36206.0
1929,37079,NC,Greene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.290553,86.267,12.7,32.1,12.4,5.1,35060.0
1950,37121,NC,Mitchell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.290553,86.267,12.8,32.1,12.4,5.1,39955.0
2512,47169,TN,Trousdale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.590531,92.770,13.2,32.8,12.9,5.7,47531.0
2712,48379,TX,Rains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.853854,73.304,11.8,33.0,14.0,5.8,46698.0
2833,51027,VA,Buchanan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.156390,75.486,14.6,30.1,9.8,3.6,32433.0
2845,51051,VA,Dickenson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.156390,75.486,10.4,30.1,9.8,3.6,32620.0
2868,51099,VA,King George,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.156390,75.486,9.3,30.1,9.8,3.6,81128.0
2915,51510,VA,Alexandria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.156390,75.486,6.2,30.1,9.8,3.6,89177.0
2916,51515,VA,Bedford,539.658697,8.673396,NaN,NaN,NaN,NaN,79.396409,1.276059,200.792829,3.227143,495.783437,7.968233,35.588112,0.571972,9.361915,0.150465,0.0,0.0,0.0,0.0,0.0,0.0,8.287145,0.133191,9.156390,75.486,NaN,30.1,9.8,3.6,NaN
2926,51610,VA,Falls Church,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.156390,75.486,10.2,30.1,9.8,3.6,122092.0
3094,55091,WI,Pepin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.934030,94.073,11.7,32.0,14.9,6.2,50094.0

In [52]:
# Imputation will be conducted in Excel with the merged_data_cleaned file after the additional checks run below

#### 4.2 Supplemental County Data

In [54]:
df_supp.isnull().sum()

FIPS      0
County    0
State     0
pop_13    0
pop_14    0
pop_15    0
pop_17    0
pop_16    0
pop_18    0
dtype: int64

### 5. Check data types

#### 5.1 Merged Data

In [55]:
# Check data type and consistency
df_merged.dtypes

FIPS                        int64
State                      object
County                     object
laccess                   float64
pct_laccess               float64
lowinc_laccess            float64
pct_lowinc_laccess        float64
snap_laccess              float64
pct_snap_laccess          float64
child_laccess             float64
pct_child_laccess         float64
senior_laccess            float64
pct_senior_laccess        float64
white_laccess             float64
pct_white_laccess         float64
black_laccess             float64
pct_black_laccess         float64
hisp_laccess              float64
pct_hisp_laccess          float64
asian_laccess             float64
pct_asian_laccess         float64
natamer_laccess           float64
pct_natamer_laccess       float64
pacific_laccess           float64
pct_pacific_laccess       float64
multi_laccess             float64
pct_multi_laccess         float64
pct_snap                  float64
pct_snap_participation    float64
pct_adult_diabetes        float64
pct_adult_obese           float64
pct_food_insec            float64
pct_vlow_foodsecure       float64
med_income                float64
dtype: object

In [56]:
# Change FIPS code to object datatype
df_merged['FIPS'] = df_merged['FIPS'].astype(object)

In [57]:
# Check success of changed datatype
df_merged['FIPS'].dtype

dtype('O')

#### 5.2 Supplemental County Data

In [58]:
# Check data type and consistency
df_supp.dtypes

FIPS       int64
County    object
State     object
pop_13    object
pop_14    object
pop_15    object
pop_17    object
pop_16    object
pop_18    object
dtype: object

In [59]:
# Change FIPS code to object datatype
df_supp['FIPS'] = df_supp['FIPS'].astype(object)

In [60]:
# Change population columns to int64 datatype
# Requires first removing commas from numbers
df_supp.replace(',','', regex=True, inplace=True)

In [61]:
df_supp['pop_13'] = df_supp['pop_13'].astype('int64')

In [62]:
df_supp['pop_14'] = df_supp['pop_14'].astype('int64')

In [63]:
df_supp['pop_15'] = df_supp['pop_15'].astype('int64')

In [64]:
df_supp['pop_16'] = df_supp['pop_16'].astype('int64')

In [65]:
df_supp['pop_17'] = df_supp['pop_17'].astype('int64')

In [66]:
df_supp['pop_18'] = df_supp['pop_18'].astype('int64')

In [67]:
df_supp.dtypes

FIPS       int64
County    object
State     object
pop_13     int64
pop_14     int64
pop_15     int64
pop_17     int64
pop_16     int64
pop_18     int64
dtype: object

### 6. Check for duplicates

#### 6.1 Merged Data

In [68]:
df_dups = df_merged[df_merged.duplicated()]

In [69]:
df_dups

Empty DataFrame
Columns: [FIPS, State, County, laccess, pct_laccess, lowinc_laccess, pct_lowinc_laccess, snap_laccess, pct_snap_laccess, child_laccess, pct_child_laccess, senior_laccess, pct_senior_laccess, white_laccess, pct_white_laccess, black_laccess, pct_black_laccess, hisp_laccess, pct_hisp_laccess, asian_laccess, pct_asian_laccess, natamer_laccess, pct_natamer_laccess, pacific_laccess, pct_pacific_laccess, multi_laccess, pct_multi_laccess, pct_snap, pct_snap_participation, pct_adult_diabetes, pct_adult_obese, pct_food_insec, pct_vlow_foodsecure, med_income]
Index: []

#### 6.2 Supplemental County Data

In [70]:
df_dups_2 = df_supp[df_supp.duplicated()]

In [71]:
df_dups_2

Empty DataFrame
Columns: [FIPS, County, State, pop_13, pop_14, pop_15, pop_17, pop_16, pop_18]
Index: []

### 7. Export cleaned datasets

In [72]:
# Exporting dataframes
df_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'merged_data_cleaned.csv'))

In [73]:
df_supp.to_csv(os.path.join(path, '02 Data','Prepared Data', 'supplemental_cleaned.csv'))